# <b> Data Science Capstone - The Best District in Inner London to Live in

Importing libraries

In [124]:
import pandas as pd
import numpy as np
import geocoder
import folium
from sklearn.cluster import KMeans
from matplotlib import pyplot as plt
from geopy import distance
import sklearn.neighbors
import string
import requests

<b> 1. Introduction/Business Problem

1.1 Business Problem

You have been thinking for a long time about what it's like to live in England. Of all places, you specified inner London to be your preferred area. Probably because you're a big football fan and there are many teams in the city to follow. However, that's only the choice you've made so far and you're not sure which district is best suited to your needs and other specifications. Such can be proximity to necessities, whether or not the place is a hot spot for crimes, or maybe the general atmosphere of the area. Of course, there can be many specifications but, in this project, we consider only these factors to determine the ideal place for you. 

1.2 Audience

The target audience of this project would be any one who is looking into moving to Inner London and is actively seeking which area is most suitable for their needs.

<b> 2. Data

2.1. Location 

First, we need to have all postcodes in Inner London with their respective district names. We scrape Wikipedia for this.

In [2]:
url='https://en.wikipedia.org/wiki/London_postal_district'
response=pd.read_html(url)
res=response[1]
df=pd.DataFrame()
res_1=res
res_1=res_1.drop([0,1,5,8],axis=0).reset_index(drop=True)
for let in res_1[0].unique():
    for dis in res_1[res_1[0]==let][1]:
        area=res[res[0]==let][res[res[0]==let][1]==dis][2].reset_index(drop=True)[0]
        zips=[]
        districts=[]
        #making a list of zip codes
        for j in range(0,50):
            code=let+str(j)+' '
            if area.find(code)!=-1:
                zips.append(code)  
        #making a list of districts
        for i in range(0,len(zips)):
            if i+1<len(zips):
                districts.append(area[area.find(zips[i]):area.find(zips[i+1])])
            else:
                districts.append(area[area.find(zips[i]):])
        for i in range(0,len(districts)):
            for j in zips:
                if districts[i].find('Head district')==-1:
                    districts[i]=districts[i].replace(j,'')
        for i in range(0,len(zips)):
            zips[i]=zips[i].replace(' ','')
        zips=pd.DataFrame(zips,columns=['Postcode'])
        districts=pd.DataFrame(districts,columns=['District'])
        df_area=pd.concat([zips,districts],axis=1)
        df=pd.concat([df,df_area],axis=0).reset_index(drop=True)
df

    Postcode           District
0         E1  E1 Head district
1         E2     Bethnal Green
2         E3               Bow
3         E4         Chingford
4         E5           Clapton
..       ...                ...
115      W12    Shepherds Bush
116      W13       West Ealing
117      W14    West Kensington
118      WC1  WC1 Head district
119      WC2             Strand

[120 rows x 2 columns]

We use the Geocoder API to retrieve the respective geographical locations of these postcodes.

In [5]:
lats=[]
longs=[]
for i in df['Postcode']:
    lat_lng_coords=None
    while(lat_lng_coords is None):
        g=geocoder.arcgis('{}, London'.format(i))
        lat_lng_coords=g.latlng
    latitude=lat_lng_coords[0]
    longitude=lat_lng_coords[1]
    lats.append(latitude)
    longs.append(longitude)

df_lat=pd.DataFrame(lats,columns=['Latitude'])
df_long=pd.DataFrame(longs,columns=['Longitude'])
df_ll=pd.concat([df,df_lat,df_long],axis=1)
df_ll

    Postcode           District  Latitude  Longitude
0         E1  E1 Head district   51.52022   -0.05431
1         E2     Bethnal Green   51.52669   -0.06257
2         E3               Bow   51.52702   -0.02594
3         E4         Chingford   51.61780   -0.00934
4         E5           Clapton   51.55897   -0.05323
..       ...                ...       ...        ...
115      W12    Shepherds Bush   51.50645   -0.23691
116      W13       West Ealing   51.51453   -0.31951
117      W14    West Kensington  51.49568   -0.20993
118      WC1  WC1 Head district  51.52450   -0.12273
119      WC2             Strand  51.51651   -0.11968

[120 rows x 4 columns]

As stated in the introduction, we consider crime and venues as factors. Each of these has a required dataset.

2.2. Crime

Ideally, we want to live in a crime-free place. However, this is hard to come by in any place in the world, let alone the capital of England. Hence, we only choose districts with relatively low crime rates compared to the rest of the areas in the city. In this project, we choose to account for crimes in the last 2 years of available crime data. As of writing, the latest data in the UK crime stats website is crimes for November 2020, hence, we use the data from January 2019 to November 2020.

In [6]:
crimes_count=[]
for i in range(0,len(df_ll)):
    district=df_ll['Postcode'].iloc[i]
    url='https://www.ukcrimestats.com/Postcode_Districts/{}/'.format(district)
    response=pd.read_html(url)
    crimes=response[0]['Total'].iloc[0:23].sum()
    crimes_count.append(crimes)
    print("{} crimes counted in postcode {}".format(crimes,district))
crimes_count=pd.DataFrame(crimes_count,columns=['Crime Count'])
crimes_count.to_csv('crimes_count.csv',index=False)
df2=pd.concat([df_ll,crimes_count],axis=1)

33567 crimes counted in postcode E1
18982 crimes counted in postcode E2
19294 crimes counted in postcode E3
13461 crimes counted in postcode E4
13736 crimes counted in postcode E5
20208 crimes counted in postcode E6
11696 crimes counted in postcode E7
18746 crimes counted in postcode E8
12368 crimes counted in postcode E9
12028 crimes counted in postcode E10
12174 crimes counted in postcode E11
7947 crimes counted in postcode E12
11813 crimes counted in postcode E13
27232 crimes counted in postcode E14
20342 crimes counted in postcode E15
13841 crimes counted in postcode E16
26820 crimes counted in postcode E17
3218 crimes counted in postcode E18
3456 crimes counted in postcode E20
0 crimes counted in postcode EC1
0 crimes counted in postcode EC2
0 crimes counted in postcode EC3
0 crimes counted in postcode EC4
33161 crimes counted in postcode N1
3737 crimes counted in postcode N2
4375 crimes counted in postcode N3
17365 crimes counted in postcode N4
6578 crimes counted in postcode N5
3812 crimes counted in postcode N6
14896 crimes counted in postcode N7
9744 crimes counted in postcode N8
12927 crimes counted in postcode N9
5509 crimes counted in postcode N10
6849 crimes counted in postcode N11
6451 crimes counted in postcode N12
6929 crimes counted in postcode N13
5507 crimes counted in postcode N14
16915 crimes counted in postcode N15
16689 crimes counted in postcode N16
22852 crimes counted in postcode N17
12081 crimes counted in postcode N18
10510 crimes counted in postcode N19
3119 crimes counted in postcode N20
3555 crimes counted in postcode N21
13934 crimes counted in postcode N22
29249 crimes counted in postcode NW1
17864 crimes counted in postcode NW2
11654 crimes counted in postcode NW3
8530 crimes counted in postcode NW4
7631 crimes counted in postcode NW5
16634 crimes counted in postcode NW6
5039 crimes counted in postcode NW7
6832 crimes counted in postcode NW8
15403 crimes counted in postcode NW9
29366 crimes counted in postcode NW10
6768 crimes counted in postcode NW11
37881 crimes counted in postcode SE1
6507 crimes counted in postcode SE2
6400 crimes counted in postcode SE3
5880 crimes counted in postcode SE4
13122 crimes counted in postcode SE5
14298 crimes counted in postcode SE6
5816 crimes counted in postcode SE7
7969 crimes counted in postcode SE8
13252 crimes counted in postcode SE9
11285 crimes counted in postcode SE10
6360 crimes counted in postcode SE11
4898 crimes counted in postcode SE12
14227 crimes counted in postcode SE13
7072 crimes counted in postcode SE14
17616 crimes counted in postcode SE15
13961 crimes counted in postcode SE16
10243 crimes counted in postcode SE17
21544 crimes counted in postcode SE18
5890 crimes counted in postcode SE19
6905 crimes counted in postcode SE20
2660 crimes counted in postcode SE21
5442 crimes counted in postcode SE22
6476 crimes counted in postcode SE23
3888 crimes counted in postcode SE24
8114 crimes counted in postcode SE25
7220 crimes counted in postcode SE26
4597 crimes counted in postcode SE27
6133 crimes counted in postcode SE28
0 crimes counted in postcode SW1
13004 crimes counted in postcode SW2
7859 crimes counted in postcode SW3
11266 crimes counted in postcode SW4
4791 crimes counted in postcode SW5
15323 crimes counted in postcode SW6
6604 crimes counted in postcode SW7
10092 crimes counted in postcode SW8
16422 crimes counted in postcode SW9
4683 crimes counted in postcode SW10
17390 crimes counted in postcode SW11
6270 crimes counted in postcode SW12
2821 crimes counted in postcode SW13
2729 crimes counted in postcode SW14
12345 crimes counted in postcode SW15
17692 crimes counted in postcode SW16
14471 crimes counted in postcode SW17
11895 crimes counted in postcode SW18
14365 crimes counted in postcode SW19
3448 crimes counted in postcode SW20
0 crimes counted in postcode W1
21005 crimes counted in postcode W2
14432 crimes counted in postcode W3
9765 crimes counted in postcode W4
12518 crimes counted in postcode W5
12831 crimes counted in postcode W6
5192 crimes counted in postcode W7
5954 crimes counted in postcode W8
9262 crimes counted in postcode W9
11375 crimes counted in postcode W10
10485 crimes counted in postcode W11
17494 crimes counted in postcode W12
7147 crimes counted in postcode W13
7941 crimes counted in postcode W14
0 crimes counted in postcode WC1
0 crimes counted in postcode WC2

After running the code above, we are still left with districts with zero crimes. This happened because for such districts, the website only provides data of their subdistricts. We retrieve these and sum them up to get the desired values.

In [12]:
crimes_count=[]
for i in df2[df2['Crime Count']==0]['Postcode']:
    crimes=0
    for j in list(string.ascii_uppercase):
        district=i+j
        url='https://www.ukcrimestats.com/Postcode_Districts/{}/'.format(district)
        response=pd.read_html(url)
        crimes+=response[0]['Total'].iloc[0:23].sum()
    crimes_count.append(crimes)
    print("{} crimes counted in postcode {}".format(crimes,i))
df2.loc[df2['Crime Count']==0,'Crime Count']=crimes_count

13970 crimes counted in postcode EC1
9199 crimes counted in postcode EC2
4294 crimes counted in postcode EC3
4304 crimes counted in postcode EC4
31142 crimes counted in postcode SW1
64420 crimes counted in postcode W1
18515 crimes counted in postcode WC1
25083 crimes counted in postcode WC2

Of course, number of crimes isn't enough for our analysis because more populous districts tend to have more crimes. Therefore, what we need to consider instead is the crime rate of each district. To get such values, we need to divide the number of crimes by the district's population. Crime rate is expressed as number of crimes per 100,000 persons. Hence, we put a multiplier of 100,000 to attain the crime rates. Population data is based on the 2011 census and can be gathered from https://postal-codes.cybo.com/

In [29]:
population=[]
for i in range(0,len(df2)):
    post=df2['Postcode'].iloc[i]
    url='https://postal-codes.cybo.com/united-kingdom/{}/'.format(post)
    response=pd.read_html(url)
    try:
        pop=int(response[5]['Population'].iloc[0])
        print('Population of {} is {}'.format(post,pop))
    except:
        print('No Data Available for {}'.format(post))
        pop=0
    population.append(pop)
population=pd.DataFrame(population,columns=['Population'])
df2=pd.concat([df2,population['Population']],axis=1)

Population of E1 is 71450
Population of E2 is 49223
Population of E3 is 58412
Population of E4 is 63468
Population of E5 is 50762
Population of E6 is 87076
Population of E7 is 59885
Population of E8 is 43436
Population of E9 is 42850
Population of E10 is 45733
Population of E11 is 58374
Population of E12 is 46139
Population of E13 is 49158
Population of E14 is 82345
Population of E15 is 58308
Population of E16 is 48754
Population of E17 is 110756
Population of E18 is 20065
No Data Available for E20
No Data Available for EC1
No Data Available for EC2
No Data Available for EC3
No Data Available for EC4
Population of N1 is 92515
Population of N2 is 24905
Population of N3 is 27857
Population of N4 is 52343
Population of N5 is 22286
Population of N6 is 21603
Population of N7 is 52208
Population of N8 is 42803
Population of N9 is 55723
Population of N10 is 28425
Population of N11 is 30412
Population of N12 is 30074
Population of N13 is 32685
Population of N14 is 31505
Population of N15 is 46156
Population of N16 is 75934
Population of N17 is 67313
Population of N18 is 32638
Population of N19 is 31860
Population of N20 is 21997
Population of N21 is 25005
Population of N22 is 48442
Population of NW1 is 63879
Population of NW2 is 71215
Population of NW3 is 54516
Population of NW4 is 33522
Population of NW5 is 34360
Population of NW6 is 66436
Population of NW7 is 28374
Population of NW8 is 34461
Population of NW9 is 63935
Population of NW10 is 100546
Population of NW11 is 32286
Population of SE1 is 70170
Population of SE2 is 29805
Population of SE3 is 36844
Population of SE4 is 27521
Population of SE5 is 53641
Population of SE6 is 56693
Population of SE7 is 21577
Population of SE8 is 27009
Population of SE9 is 64758
Population of SE10 is 24795
Population of SE11 is 22825
Population of SE12 is 29565
Population of SE13 is 39452
Population of SE14 is 25492
Population of SE15 is 68068
Population of SE16 is 44974
Population of SE17 is 33537
Population of SE18 is 78550
Population of SE19 is 30918
Population of SE20 is 21833
Population of SE21 is 16967
Population of SE22 is 31192
Population of SE23 is 32669
Population of SE24 is 20336
Population of SE25 is 37562
Population of SE26 is 31531
Population of SE27 is 21772
Population of SE28 is 31457
No Data Available for SW1
Population of SW2 is 53531
Population of SW3 is 23351
Population of SW4 is 46760
Population of SW5 is 15333
Population of SW6 is 66584
Population of SW7 is 17963
Population of SW8 is 37045
Population of SW9 is 46214
Population of SW10 is 16791
Population of SW11 is 68780
Population of SW12 is 32809
Population of SW13 is 16444
Population of SW14 is 15271
Population of SW15 is 61797
Population of SW16 is 84820
Population of SW17 is 69101
Population of SW18 is 63032
Population of SW19 is 80496
Population of SW20 is 27564
No Data Available for W1
Population of W2 is 52765
Population of W3 is 54985
Population of W4 is 44825
Population of W5 is 53368
Population of W6 is 37933
Population of W7 is 29733
Population of W8 is 19888
Population of W9 is 39491
Population of W10 is 35302
Population of W11 is 31773
Population of W12 is 51698
Population of W13 is 32864
Population of W14 is 34338
No Data Available for WC1
No Data Available for WC2

Similar to crime data, some districts only have data available for their subdistricts.

In [20]:
population=[]
for i in df2[df2['Population']==0]['Postcode']:
    pops=0
    for j in list(string.ascii_uppercase):
        post=i+j
        url='https://postal-codes.cybo.com/united-kingdom/{}/'.format(post)
        try:
            response=pd.read_html(url)
            pops+=int(response[5]['Population'].iloc[0])
        except:
            pops+=0
    population.append(pops)
    print('Population of {} is {}'.format(i,pops))
missing_pop=pd.DataFrame(population,columns=['Population'])
df2.loc[df2['Population']==0,'Population']=population
df2

Population of E20 is 0
Population of EC1 is 42435
Population of EC2 is 11210
Population of EC3 is 5617
Population of EC4 is 5366
Population of SW1 is 54818
Population of W1 is 56613
Population of WC1 is 34114
Population of WC2 is 9503

    Postcode           District  Latitude  Longitude  Crime Count  Population
0         E1  E1 Head district   51.52022   -0.05431        33567       71450
1         E2     Bethnal Green   51.52669   -0.06257        18982       49223
2         E3               Bow   51.52702   -0.02594        19294       58412
3         E4         Chingford   51.61780   -0.00934        13461       63468
4         E5           Clapton   51.55897   -0.05323        13736       50762
..       ...                ...       ...        ...          ...         ...
115      W12    Shepherds Bush   51.50645   -0.23691        17494       51698
116      W13       West Ealing   51.51453   -0.31951         7147       32864
117      W14    West Kensington  51.49568   -0.20993         7941       34338
118      WC1  WC1 Head district  51.52450   -0.12273        18515       34114
119      WC2             Strand  51.51651   -0.11968        25083        9503

[120 rows x 6 columns]

In [35]:
df2

    Postcode           District  Latitude  Longitude  Crime Count  Population
0         E1  E1 Head district   51.52022   -0.05431        33567       71450
1         E2     Bethnal Green   51.52669   -0.06257        18982       49223
2         E3               Bow   51.52702   -0.02594        19294       58412
3         E4         Chingford   51.61780   -0.00934        13461       63468
4         E5           Clapton   51.55897   -0.05323        13736       50762
..       ...                ...       ...        ...          ...         ...
115      W12    Shepherds Bush   51.50645   -0.23691        17494       51698
116      W13       West Ealing   51.51453   -0.31951         7147       32864
117      W14    West Kensington  51.49568   -0.20993         7941       34338
118      WC1  WC1 Head district  51.52450   -0.12273        18515       34114
119      WC2             Strand  51.51651   -0.11968        25083        9503

[120 rows x 6 columns]

Population of E20 is not available from the postal-codes.cybo website so we put this manually. According to http://www.eastvillagelondon.co.uk/, the population of E20 is about 6,000 people.

In [36]:
population=6000
df2.loc[df2['Population']==0,'Population']=population
df2

    Postcode           District  Latitude  Longitude  Crime Count  Population
0         E1  E1 Head district   51.52022   -0.05431        33567       71450
1         E2     Bethnal Green   51.52669   -0.06257        18982       49223
2         E3               Bow   51.52702   -0.02594        19294       58412
3         E4         Chingford   51.61780   -0.00934        13461       63468
4         E5           Clapton   51.55897   -0.05323        13736       50762
..       ...                ...       ...        ...          ...         ...
115      W12    Shepherds Bush   51.50645   -0.23691        17494       51698
116      W13       West Ealing   51.51453   -0.31951         7147       32864
117      W14    West Kensington  51.49568   -0.20993         7941       34338
118      WC1  WC1 Head district  51.52450   -0.12273        18515       34114
119      WC2             Strand  51.51651   -0.11968        25083        9503

[120 rows x 6 columns]

The code below calculates the crime rates.

In [38]:
crime_rate=[]
for i in range(0,len(df2)):
    crime_rate.append((df2['Crime Count'].iloc[i]/df2['Population'].iloc[i])*100000)
crime_rate=pd.DataFrame(crime_rate,columns=['Crime Rate'])
df3=pd.concat([df2,crime_rate],axis=1)

Below is our transformed crime and locations dataset

In [39]:
df3

,Postcode,District,Latitude,Longitude,Crime Count,Population,Crime Rate
0,E1,E1 Head district,51.52022,-0.05431,33567,71450,46979.706088
1,E2,Bethnal Green,51.52669,-0.06257,18982,49223,38563.273267
2,E3,Bow,51.52702,-0.02594,19294,58412,33030.884065
3,E4,Chingford,51.61780,-0.00934,13461,63468,21209.113254
4,E5,Clapton,51.55897,-0.05323,13736,50762,27059.611520
...,...,...,...,...,...,...,...
115,W12,Shepherds Bush,51.50645,-0.23691,17494,51698,33838.833224
116,W13,West Ealing,51.51453,-0.31951,7147,32864,21747.200584
117,W14,West Kensington,51.49568,-0.20993,7941,34338,23125.982876
118,WC1,WC1 Head district,51.52450,-0.12273,18515,34114,54273.905142
119,WC2,Strand,51.51651,-0.11968,25083,9503,263948.226876

2.3 Venues

One of the factors in choosing a site for a house is convenience. Is there a supermarket? Is there a train station nearby? How about a pharmacy in case you need an emergency medicine? Moreover, personal taste comes into play. What would be the ideal atmosphere of the place you live in? Do you want to live in a hotspot for coffee shops, restaurants, bars, or recreation? All of these questions can be answered by venue data we can attain from Foursquare API. This will be done later once we've analysed the crime data and have filtered down viable districts.